<script src="@@webRoot/assets/js/global.js"></script>
<!-- Footer Start -->
<footer class="footer bg-secondary relative text-gray-200 dark:text-gray-200">
    <div class="w-full h-full py-[30px] px-0 border-t border-primary/60">
        <div class="md:text-left text-center">
            <p class="mb-0 leading-5 text-center">
                &copy; <span class="font-ldw tracking-wider">LDW</span>
                <span class="font-solutions tracking-widest">solution</span> |
                <span class="tracking-normal">
                    <span class="font-ldw">L</span>eko
                    <span class="font-ldw">D</span>eveloper <span class="font-ldw">W</span>eb Consulting - All
                    right reserved -
                    <script>document.write(new Date().getFullYear())</script>
                </span>
            </p>
        </div>
    </div>
</footer>
<!--end footer-->
<!-- Footer End -->