<div class="container md:mt-24 mt-16">
	<div class="grid grid-cols-1 text-center">
		<h6 class="text-primary text-sm font-bold mb-2">Available for freelance projects</h6>
		<h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Do you have a project?
			<br> Let's talk.
		</h3>

		<p class="text-slate-400 max-w-xl mx-auto">Whether you need web design, digital marketing, branding, or
			e-commerce, we have the expertise and experience to help
			you achieve your goals. Contact us today for a free consultation and quote.
		</p>

		<div class="mt-6">
			<a href="/contacts"
				class="btn bg-primary hover:bg-primary/80 border-primary hover:border-primary/80 text-white rounded-md mr-2 mt-2"><i
					class="uil uil-phone"></i> Contact Us</a>
		</div>
	</div><!--end grid-->
</div><!--end container-->