<meta charset="UTF-8" />
<title>LDW Solutions | @@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="LDW Solutions" />
<meta name="website" content="https://ldw.solutions" />
<meta name="email" content="contact@ldw.solutions" />
<meta name="version" content="1.0.0" />
<meta name="title" content="LDW Solutions | @@title" />
<meta name="description"
	content="Web and Mobile development, building magical web experiences, scaling systems up, and shipping reliable applications." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content="LDW Solutions | @@title" />
<meta property="og:description"
	content="Web and Mobile development, building magical web experiences, scaling systems up, and shipping reliable applications." />
<meta property="og:image" content="@@webRoot/assets/images/icons/apple-touch-icon.jpg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="LDW Solutions | @@title" />
<meta property="twitter:description"
	content="Web and Mobile development, building magical web experiences, scaling systems up, and shipping reliable applications." />
<meta property="twitter:image" content="@@webRoot/assets/images/icons/apple-touch-icon.jpg" />
<link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/assets/images/icons/apple-touch-icon.jpg">
<link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/assets/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/assets/images/icons/favicon-16x16.png">
<link rel="manifest" href="@@webRoot/site.webmanifest">
<link rel="mask-icon" href="@@webRoot/assets/images/icons/safari-pinned-tab.svg" color="#dcb34c">
<meta name="msapplication-TileColor" content="#dcb34c">
<meta name="theme-color" content="#ffffff">

<!-- favicon -->
<link rel="shortcut icon" href="@@webRoot/assets/images/icons/favicon.ico" />